@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
@import "../_variables.scss";

* {
  font-family: "Helvetica", "Arial", sans-serif;
}

.navbar {
  display: flex;
  align-items: baseline;
  font-size: 1.5rem;
  padding-top: 2em;
  margin-left: 3%;
  margin-right: 3%;
}

.kasLogo {
  width: 25%;
}

.menu {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  width: 100%;
}
.menu li {
  margin: 0 2%;
  text-align: center;
  white-space: nowrap;
  color: #475569;
}

.bar {
	z-index: 100;
}

.brandName {
  font-weight: 400;
  white-space: nowrap;
}

#reserveBtn1 {
  color: #e5f3ff;
  padding: 1em 3em;
  background: #1e293b;
  box-shadow: 0px 4px 8px rgba(30, 41, 59, 0.5);
  border-radius: 25px;
}

.languages img {
  width: 1em;
}

.languages {
  margin: auto 0;
}

header {
  background: url("../images/Hero/finish_sky_finish_total.webp") no-repeat;
  background-size: 100%;
  height: 46.5vw;
}

.hero_content {
  display: flex;
  margin-top: 10em;
  z-index: -1;
}

.motto {
  display: flex;
  width: 30%;
  position: relative;
  left: 65%;
}

.quote {
  font-family: "Nunito", sans-serif;
  color: #fef9c3;
  font-size: 5em;
  padding-left: 0;
  padding: 0;
  z-index: 500;
}
.quote span {
  padding: 0;
  font-size: 0.8em;
  font-family: "Helvetica", "Arial", sans-serif;
  color: #475569;
}
.description {
  display: flex;
  max-width: 95vw;
  margin: 0 auto;
}
.pre-content {
  background: linear-gradient(180deg, #fff 5%, $c_primary 100%);
  /* display: flex; */
  justify-content: space-between;
  z-index: -1;
  margin-bottom: 10em;
}
.pre-content p {
  font-size: 1.6rem;
}
.pre-content .left {
  padding-left: 5%;
  padding-top: 14em;
}
.pre-content .right {
  padding-right: 5%;
  padding-top: 4em;
}

.content {
  /* background: url("../images/icons/ToCsspng.png") no-repeat top center;
  background-repeat: no-repeat;
  background-size: cover; */
  z-index: 200;
  width: 100%;
  /* height: 100%;
  position: relative;
  top: -45vw; */
}

.features {
	background: url("../images/icons/ToCsspng.png") no-repeat top center;
	background-size: cover;
	// background-position: contain;
	padding-top: 14em;
	padding-bottom: 6.5em;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;

}

.features img {
  /* width: 10em; */
  height: 4em;
}
.features div {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 5rem; */
  justify-content: space-between;
  position: relative;
  margin-top: 5em;
  /* top: 5em; */
}
.features p {
  color: #fff;
  text-align: center;
  margin-top: 1em;
  font-size: 1.3rem;
}

.next {
  height: 700px;
  position: relative;
  bottom: 130vw;
  z-index: 300;
  background-color: #fff;
  background-size: 7em;
}

// main {
//   height: 2500px;
// }

.drop-down {
  position: absolute;
  top: 200px;
}

[v-cloak] {
  display: block;
  padding: 50px 0;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

[v-cloak]:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner 0.6s linear infinite;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

[v-cloak] > * {
  display: none;
}

@media (max-width: 2170px) {

	.features {
		padding-top: 10em;
	}
}
@media (max-width: 1956px) {
  .hero_content {
    display: flex;
    margin-top: 6em;
  }
  .motto {
    display: flex;
    width: 35%;
    position: relative;
    left: 65%;
  }
}
@media (max-width: 1800px) {
  .hero_content {
    display: flex;
    margin-top: 5em;
  }
  .motto {
    display: flex;
    width: 35%;
    position: relative;
    left: 65%;
    padding-right: 2em;
  }
}
@media (max-width: 1760px) {
}
@media (max-width: 1600px) {

  .motto {
    left: 65%;
  }
  .quote {
    font-size: 3em;
  }
}
@media (max-width: 1450px) {
  .hero_content {
    margin-top: 2em;
  }
}
@media (max-width: 1415px) {
  .hero_content {
    margin-top: 2em;
    line-height: 5.5em;
  }
  .motto {
    left: 67%;
    width: 33%;
  }
}
@media (max-width: 1300px) {

  .drop-down li {
    margin: 0 1.5em;
    white-space: nowrap;
  }
  .drop-down li:last-child {
    margin-right: 0;
  }
  .drop-down button {
    margin: 0 1em;
  }
  .motto {
    left: 67%;
    width: 33%;
  }
  /* .pre-content {
    height: 75vw;
    display: block;
    padding-left: 5%;
  }

  .pre-content .left {
    padding: 0;
    padding-top: 10em;
    width: 60%;
  }

  .pre-content .right {
    /* position: relative;
    margin-top: 5em; */
  /* margin-left: 45%; */
  /* width: 60%; */
  /* } */
}
@media (max-width: 1200px) {
  .navbar {
    padding-top: 1em;
  }
  #reserveBtn1 {
    padding: 0.7em 2em;
  }
  .motto {
    position: relative;
    bottom: 4em;
  }
}
@media (max-width: 1100px) {
  .drop-down li {
    margin: 0 1.2em;
  }
  .drop-down li:last-child {
    margin-right: 0;
  }
  .drop-down button {
    margin: 0 1em;
  }
  .motto {
    bottom: 5em;
  }
}
@media (max-width: 1000px) {
  .drop-down li {
    margin: 0 1.2em;
  }
  .drop-down li:last-child {
    margin-right: 0;
  }
  .drop-down button {
    margin: 0 1em;
  }

  .features p{
		width: 80%;
      // background: url("../images/icons/NEWREDMobile.png") no-repeat top center;
		// background-size: contain;
  }
}
@media (max-width: 950px) {
  .speach {
    margin-left: 0;
  }
  .motto {
    bottom: 8em;
  }
}
@media (max-width: 900px) {
  .motto {
    bottom: 9em;
  }

  .features p {
		font-size: 1.5rem;
	}
}

@media (max-width: 850px) {
  .motto {
    display: none;
  }
}

@media (max-width: 800px) {
	.description p {
		font-size: 1.5rem;
	}

	.features {
		padding-top: 7em;
	}
} /*# sourceMappingURL=base.css.map */

@media (max-width: 650px) {

  .pre-content {
    display: block;
  }
  #leftId {
    margin-right: 0;
  }
  /* .description {
    display: flex;
    flex-direction: column;
  } */
  .description .left {
    width: 90%;
    margin: 0 auto;
    padding: 0;

    padding-top: 16vw;
    padding-left: 2%;
  }
  .description .right {
    width: 90%;
    padding-right: 0;
    margin-right: 0;
    margin: 0 auto;
  }

  .description p {
    width: fit-content;
    /* margin: auto;
    padding: auto; */
  }

  .features {
   //  font-size: 130%;
    display: flex;
    flex-direction: column;
   //  height: 150vw;
    justify-content: center;

    background: url("../images/icons/NEWREDMobile.png") no-repeat top center;
    /* padding-bottom: 30vw; */
  }

  .features div {
   //  margin-bottom: 10em;
  }

  .features div:last-child {
    position: relative;
  }

  .first {
    margin-top: 7em;
  }


}

@media (max-width: 600px) {
  .first {
    margin-top: 8em;
  }
}

@media (max-width: 550px) {
  .description {
    flex-direction: column;

	 & p {
		font-size: 1.8rem;
	 }
  }

  .first {
    margin-top: 10em;
  }
  .description .left {
    padding-left: 0;
  }
  .content {
    margin-top: 5em;
  }
}

@media (max-width: 500px) {
  .description.left {
    padding-top: 15em;
    padding-bottom: 3em;
  }

  .content {
    margin-top: 3em;
  }
  .pre-content {
   //  height: 130vw;
  }

  .features {
    background: url("../images/icons/NEWREDSuperSmallpng.png") no-repeat top center
   //    center;
   //  background-size: 105%;
   //  margin-bottom: 20em;
   //  height: 170vw;
  }
}

@media (max-width: 450px) {
  .content {
    margin-top: 7em;
  }
  .next {
    bottom: 215em;
  }

  .pre-content div {
	font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .first {
    margin-top: 3em;
  }


}
