@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
* {
  font-family: "Helvetica", "Arial", sans-serif;
}

.navbar {
  display: flex;
  align-items: baseline;
  font-size: 1.5em;
  padding-top: 2em;
  margin-left: 3%;
  margin-right: 3%;
}

.kasLogo {
  width: 25%;
}

.menu {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  width: 100%;
}
.menu li {
  margin: 0 2%;
  text-align: center;
  white-space: nowrap;
  color: #475569;
}

.brandName {
  font-weight: 400;
  white-space: nowrap;
}

#reserveBtn1 {
  color: #e5f3ff;
  padding: 1em 3em;
  background: #1e293b;
  box-shadow: 0px 4px 8px rgba(30, 41, 59, 0.5);
  border-radius: 25px;
}

.languages img {
  width: 1em;
}

.languages {
  margin: auto 0;
}

header {
  background: url("../images/Hero/finish_sky_finish_total.png") no-repeat;
  background-size: 100%;
  height: 46.5vw;
}

.hero_content {
  display: flex;
  margin-top: 10em;
  z-index: -1;
}

.motto {
  display: flex;
  width: 30%;
  position: relative;
  left: 65%;
}

.quote {
  font-family: "Nunito", sans-serif;
  color: #fef9c3;
  font-size: 5em;
  padding-left: 0;
  padding: 0;
  z-index: 500;
}
.quote span {
  padding: 0;
  font-size: 0.8em;
  font-family: "Helvetica", "Arial", sans-serif;
  color: #475569;
}
.description {
  display: flex;
}
.pre-content {
  background: linear-gradient(180deg, #f3efea 0%, #a6372d 100%);
  height: 80vw;
  /* display: flex; */
  justify-content: space-between;
  z-index: -1;
  margin-bottom: 15em;
}
.pre-content p {
  font-size: 3em;
}
.pre-content .left {
  padding-left: 5%;
  padding-top: 22vw;
}
.pre-content .right {
  padding-right: 5%;
  padding-top: 8vw;
}

.content {
  /* background: url("../images/icons/ToCsspng.png") no-repeat top center;
  background-repeat: no-repeat;
  background-size: cover; */
  z-index: 200;
  width: 100%;
  /* height: 100%;
  position: relative;
  top: -45vw; */
}

.features {
  background: url("../images/icons/ToCsspng.png") no-repeat center center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 60vw;
  display: flex;
  align-items: center;
  justify-content: space-around;

  /* position: relative;
  top: 27vw; */
  /* position: relative;
  top: -45vw; */
}
.features img {
  width: 12em;
}
.features div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 17em;
  justify-content: space-between;
  position: relative;
  top: 5em;
}
.features p {
  color: #fff;
  text-align: center;
  margin-top: 1em;
  font-size: 2em;
}

.next {
  height: 700px;
  position: relative;
  bottom: 130vw;
  z-index: 300;
  background: url("../images/icons/ScrollButton.svg") no-repeat center 20vw;
  background-color: #fff;
  background-size: 7em;
}

main {
  height: 2500px;
}

.drop-down {
  position: absolute;
  top: 200px;
}

@media (max-width: 2170px) {
  body {
    font-size: 90%;
  }
}
@media (max-width: 1956px) {
  .hero_content {
    display: flex;
    margin-top: 6em;
  }
  .motto {
    display: flex;
    width: 35%;
    position: relative;
    left: 65%;
  }
}
@media (max-width: 1800px) {
  .hero_content {
    display: flex;
    margin-top: 5em;
  }
  .motto {
    display: flex;
    width: 35%;
    position: relative;
    left: 65%;
    padding-right: 2em;
  }
}
@media (max-width: 1760px) {
  body {
    font-size: 80%;
  }
}
@media (max-width: 1600px) {
  body {
    font-size: 80%;
  }
  .motto {
    left: 65%;
  }
  .quote {
    font-size: 4.5em;
  }
}
@media (max-width: 1450px) {
  .hero_content {
    margin-top: 2em;
  }
}
@media (max-width: 1415px) {
  .hero_content {
    margin-top: 2em;
    line-height: 5.5em;
  }
  .motto {
    left: 67%;
    width: 33%;
  }
}
@media (max-width: 1300px) {
  body {
    font-size: 70%;
  }
  .drop-down li {
    margin: 0 1.5em;
    white-space: nowrap;
  }
  .drop-down li:last-child {
    margin-right: 0;
  }
  .drop-down button {
    margin: 0 1em;
  }
  .motto {
    left: 67%;
    width: 33%;
  }
  /* .pre-content {
    height: 75vw;
    display: block;
    padding-left: 5%;
  }

  .pre-content .left {
    padding: 0;
    padding-top: 10em;
    width: 60%;
  }

  .pre-content .right {
    /* position: relative;
    margin-top: 5em; */
  /* margin-left: 45%; */
  /* width: 60%; */
  /* } */
}
@media (max-width: 1200px) {
  .navbar {
    padding-top: 1em;
  }
  #reserveBtn1 {
    padding: 0.7em 2em;
  }
  .motto {
    position: relative;
    bottom: 4em;
  }
}
@media (max-width: 1100px) {
  .drop-down li {
    margin: 0 1em;
  }
  .drop-down li:last-child {
    margin-right: 0;
  }
  .drop-down button {
    margin: 0 1em;
  }
  .motto {
    bottom: 5em;
  }
}
@media (max-width: 1000px) {
  body {
    font-size: 60%;
  }
  .drop-down li {
    margin: 0 0.7em;
  }
  .drop-down li:last-child {
    margin-right: 0;
  }
  .drop-down button {
    margin: 0 1em;
  }

  .features {
    top: 25vw;
  }
}
@media (max-width: 950px) {
  #reserveBtn {
    margin-top: 1em;
    margin-left: 0;
    margin-bottom: 1em;
  }
  .speach {
    margin-left: 0;
  }
  .motto {
    bottom: 8em;
  }
}
@media (max-width: 900px) {
  .motto {
    bottom: 9em;
  }
}

@media (max-width: 850px) {
  .motto {
    display: none;
  }
}

@media (max-width: 800px) {
  body {
    font-size: 50%;
  }
} /*# sourceMappingURL=base.css.map */

@media (max-width: 650px) {
  body {
    font-size: 40%;
  }
  .pre-content {
    height: 90vw;
    display: block;
    margin-bottom: 100em;

    /* padding-left: 5%; */
  }
  #leftId {
    margin-right: 0;
  }
  /* .description {
    display: flex;
    flex-direction: column;
  } */
  .description .left {
    width: 90%;
    margin: 0 auto;
    padding: 0;

    padding-top: 16vw;
    padding-left: 2%;
  }
  .description .right {
    width: 90%;
    padding-right: 0;
    margin-right: 0;
    margin: 0 auto;
  }

  .description p {
    width: fit-content;
    /* margin: auto;
    padding: auto; */
  }

  .features {
    font-size: 130%;
    display: flex;
    flex-direction: column;
    height: 150vw;
    justify-content: center;

    background: url("../images/icons/NEWREDMobile.png") no-repeat top center;
    /* padding-bottom: 30vw; */
  }

  .features div {
    margin-bottom: 10em;
  }

  .features div:last-child {
    position: relative;
  }

  .first {
    margin-top: 7em;
  }

  .content {
    /* height: 350vw; */
    background: url("../images/icons/RedWaveMobile2.png") no-repeat top center;

    background-size: 105%;
    height: 300em;
  }
  .next {
    height: 105em;
    position: relative;
    bottom: 205em;
    /* margin-bottom: 500em; */
  }
}

@media (max-width: 600px) {
  .first {
    margin-top: 8em;
  }
  .features {
    /* height: 150vw; */
  }
}

@media (max-width: 550px) {
  .next {
    position: relative;
    bottom: 200em;
  }
  .features {
    top: 20em;
  }
  .description {
    flex-direction: column;
  }
  /* .description .right {
    width: 90%;
    padding-right: 0;
    margin-right: 0;
    margin: 0 auto;
    margin-bottom: 5vw;
  } */
  .first {
    margin-top: 10em;
  }
  .description .left {
    padding-left: 0;
    padding-bottom: 5em;
    padding-top: 15em;
  }
  .content {
    margin-top: 5em;
  }
}

@media (max-width: 500px) {
  .description.left {
    padding-top: 15em;
    padding-bottom: 3em;
  }
  .content {
    margin-top: 3em;
  }
  .pre-content {
    height: 130vw;
  }

  .features {
    background: url("../images/icons/NEWREDSuperSmallpng.png") no-repeat top
      center;
    background-size: 105%;
    margin-bottom: 20em;
    height: 170vw;
  }
}

@media (max-width: 450px) {
  .content {
    margin-top: 7em;
  }
  .features {
    font-size: 120%;
  }
  .next {
    bottom: 215em;
  }
  .features {
    height: 185vw;
  }
}

@media (max-width: 400px) {
  .features {
    height: 200vw;
  }
  .first {
    margin-top: 7em;
  }

  .features div {
    margin-bottom: 8em;
  }

  .first {
    margin-top: 3em;
  }

  .pre-content {
    height: 140vw;
  }
}
