.speach button:hover,
:focus {
  opacity: 70%;
}

@media (max-width: 950px) {
  .drop-down {
    padding-bottom: .75em;
  }
  #dropId {
    padding-bottom: .5em;
  }

	#reserveBtn {
		font-size: 1.5rem;
		margin: 0.5em 0;
		text-align: center;
		margin-left: 10%;
		width: 80%;
		border-radius: 6px;
		padding: 1em 0;
		font: Helvetica;
		text-transform: uppercase;
		margin-bottom: 0;
	}
  .speach {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
  }

  .drop-down li {
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em 0;
  }
  .drop-down li:first-child{
    padding-top: 1.5em;
  }

  .motto {
    display: none;
  }


  .drop-down button {
    text-align: center;
  }
  .speach button:hover,
  :focus {
    opacity: 50%;
  }

  @media (max-width: 950px) {
    .drop-down li:hover,
    :focus {
      background: #fafaf9;
    }
  }
}

@media (max-width: 800px) {

}

@media (max-width: 700px) {
  .kasLogo {
    width: 2.6em;
  }
}

@media (max-width: 650px) {

  #reserveBtn {
    margin-top: 0;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  /* #logo-parent {
    width: 3500px;
    height: 75px;
    background: url("@/images/icons/Group2.png");
    /* background-size: 50%; */
  /* display: none;
  } */
  /* #logo {
    width: 40%;
    height: 4.3rem;
    background: url("@/images/icons/logo2Transparent.png");
    background-size: 30%;
    object-fit: fill;
    background-repeat: no-repeat;
    background-position: top top;
    text-indent: -9999px;
    z-index: 5000000;
  } */
}

@media (max-width: 500px) {
  .drop-down li:hover,
  :focus {
    background: #e7e5e4;
  }

  .drop-down {
    position: absolute;
    /* bottom: 500px; */
  }

  #dropId {
    width: 100%;
  }
  #reserveBtn {
    margin-top: 0.5em;
    margin-bottom: 0.4em;
  }

  .hero_content {
    display: none;
    height: 0;
    margin: 0;
  }

  .speach {
  }
}

@media (max-width: 400px) {
  .kasLogo {
    width: 2em;
    position: relative;
    right: 0.2em;
    bottom: 0.6em;
  }
  /*
  #logo-parent {
    padding-top: 4.5em;
    padding-bottom: 4.5em;
  }
  */
}
