.floorHeader {
  margin-top: 15vh;
  margin-bottom: 15vh;
  font-size: 5vh;
}

.scrollButton {
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.floorImage {
  margin-top: 15vh;
  margin-bottom: 15vh;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.mainHeading {
  margin-top: 15vh;
  margin-bottom: 15vh;
  font-size: 10vh;
}

.placePreviewKitchen {
  position: absolute;
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  top: 40%;
  left: 16%;
}
.placePreviewKitchen:hover {
  cursor: pointer;
  filter: brightness(70%);
}

.placePreviewDiningArea {
  position: absolute;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  top: 67%;
  left: 29%;
}
.placePreviewDiningArea:hover {
  cursor: pointer;
  filter: brightness(70%);
}

.placePreviewFrontHall {
  position: absolute;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  top: 10.5%;
  left: 40%;
}
.placePreviewFrontHall:hover {
  cursor: pointer;
  filter: brightness(70%);
}

.placePreviewStairs {
  position: absolute;
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 50%;
  top: 6%;
  left: 55.5%;
}
.placePreviewStairs:hover {
  cursor: pointer;
  filter: brightness(70%);
}

.placePreviewRoom1 {
  position: absolute;
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  top: 64%;
  left: 76.5%;
}
.placePreviewRoom1:hover {
  cursor: pointer;
  filter: brightness(70%);
}

.placePreviewBathroom1 {
  position: absolute;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  top: 31%;
  left: 78%;
}
.placePreviewBathroom1:hover {
  cursor: pointer;
  filter: brightness(70%);
}

.placePreviewRoom2 {
  position: absolute;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  top: 69%;
  left: 48.5%;
}
.placePreviewRoom2:hover {
  cursor: pointer;
  filter: brightness(70%);
}

.placePreviewBathroom2 {
  position: absolute;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  top: 72%;
  left: 65.5%;
}
.placePreviewBathroom2:hover {
  cursor: pointer;
  filter: brightness(70%);
}

.placePreviewRoom3 {
  position: absolute;
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  top: 37%;
  left: 20.5%;
}
.placePreviewRoom3:hover {
  cursor: pointer;
  filter: brightness(70%);
}

.placePreviewRoom4 {
  position: absolute;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  top: 70%;
  left: 22.5%;
}
.placePreviewRoom4:hover {
  cursor: pointer;
  filter: brightness(70%);
}

.placePreviewBathroom34 {
  position: absolute;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  top: 12%;
  left: 40%;
}
.placePreviewBathroom34:hover {
  cursor: pointer;
  filter: brightness(70%);
}

.placePreviewToilet34 {
  position: absolute;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  top: 33%;
  left: 36%;
}
.placePreviewToilet34:hover {
  cursor: pointer;
  filter: brightness(70%);
}

.fullImageView {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#fullImage {
  padding: 7%;
}

.imgCarousel {
  position: relative;
  max-height: 80vh;
  max-width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.slide-info img {
  max-width: 80vw;
  max-height: 80vh;
}

.navigate {
  padding: 0 16px;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-page {
  display: flex;
  flex: 1;
}

.right {
  justify-content: flex-end;
}

.toggle-page i {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #1E293B;
}

.pagination {
  position: absolute;
  bottom: 24px;
  width: 100%;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.pagination span {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.pagination .active {
  background-color: #1E293B;
}

.exitButton {
  position: absolute;
  top: 5%;
  right: 10%;
  font-size: 3rem;
  color: #fff;
}

.exitButton i {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

body {
  font-family: Helvetica, Sans-Serif;
  color: #1E293B;
}/*# sourceMappingURL=style.css.map */