$marginValueForText: 15vh;
$textSize1: 10vh;
$textSize2: 5vh;

@mixin margins {
    margin-top: $marginValueForText;
    margin-bottom: $marginValueForText;
}

@mixin placePreviewPreset($maxSize) {
    position: absolute;
    width: $maxSize;
    height: $maxSize;
    border-radius: 50%;
    &:hover{
        cursor: pointer;
        filter: brightness(70%);
    }
}
.floorHeader{
    @include margins();
    font-size: $textSize2;
}

.scrollButton{
    @include margins();
}

.floorImage{
    @include margins();
    position: relative;
    max-width: 100%;
    max-height: 100%
}

.mainHeading{
    @include margins();
    font-size: $textSize1;
}
.placePreviewKitchen{
    @include placePreviewPreset(7vw);
    top: 40%;
    left: 16%;
}

.placePreviewDiningArea{
    @include placePreviewPreset(10vw);
    top: 67%;
    left: 29%;
}

.placePreviewFrontHall{
    @include placePreviewPreset(5vw);
    top: 10.5%;
    left: 40%
}

.placePreviewStairs{
    @include placePreviewPreset(3.5vw);
    top: 6%;
    left: 55.5%;
}

.placePreviewRoom1{
    @include placePreviewPreset(7vw);
    top: 64%;
    left: 76.5%;
}

.placePreviewBathroom1{
    @include placePreviewPreset(4vw);
    top: 31%;
    left: 78%;
}

.placePreviewRoom2{
    @include placePreviewPreset(8vw);
    top: 69%;
    left: 48.5%;
}

.placePreviewBathroom2{
    @include placePreviewPreset(5vw);
    top: 72%;
    left: 65.5%;
}

.placePreviewRoom3{
    @include placePreviewPreset(6vw);
    top: 37%;
    left: 20.5%;
}

.placePreviewRoom4{
    @include placePreviewPreset(8vw);
    top: 70%;
    left: 22.5%;
}

.placePreviewBathroom34{
    @include placePreviewPreset(5vw);
    top: 12%;
    left: 40%;
}

.placePreviewToilet34{
    @include placePreviewPreset(3vw);
    top: 33%;
    left: 36%;
}

.fullImageView{
    display: none;
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}


#fullImage{
    padding: 7%;
}

.imgCarousel{
    position: relative;
    max-height: 80vh;
    max-width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-info{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.slide-info img{
    max-width: 80vw;
    max-height: 80vh;
}

.navigate{
    padding: 0 16px;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-page{
    display: flex;
    flex: 1;
}

.right{
    justify-content: flex-end;
}

.toggle-page i{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #1E293B;
}

.pagination{
    position: absolute;
    bottom: 24px;
    width: 100%;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.pagination span{
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

}

.pagination .active{
    background-color: #1E293B;
}

.exitButton{
    position: absolute;
    top: 5%;
    right: 10%;
    font-size: 3rem;
    color: #fff;
}

.exitButton i{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
