$marginValueForText: 15vh;
$textSize1: 10vh;
$textSize2: 5vh;

@mixin margins {
    margin-top: $marginValueForText;
    margin-bottom: $marginValueForText;
}

@mixin placePreviewPreset($width) {
    position: absolute;
    width: $width;
    height: $width;
    border-radius: 50%;
    &:hover{
        cursor: pointer;
    }
}

.floorHeader{
    @include margins();
    font-size: $textSize2;
}

.scrollButton{
    @include margins();
}

.floorImage{
    @include margins();
    position: relative;
}

.mainHeading{
    @include margins();
    font-size: $textSize1;
}
.placePreviewKitchen{
    @include placePreviewPreset(7vh);
    top: 25vh;
    right: 92vh;
}

.placePreviewDiningArea{
    @include placePreviewPreset(10vh);
    top: 38vh;
    right: 76vh;
}

.placePreviewRoom1{
    @include placePreviewPreset(7vh);
    top: 36vh;
    right: 20vh;
}

.placePreviewBathroom1{
    @include placePreviewPreset(4vh);
    top: 18vh;
    right: 22vh;
}

.placePreviewRoom3{
    @include placePreviewPreset(6vh);
    top: 22vh;
    right: 88vh;
}

.placePreviewRoom4{
    @include placePreviewPreset(8vh);
    top: 40vh;
    right: 84vh;
}

.placePreviewBathroom34{
    @include placePreviewPreset(5vh);
    top: 8vh;
    right: 65vh;
}

.placePreviewToilet34{
    @include placePreviewPreset(3vh);
    top: 20vh;
    right: 73vh;
}