@import "../_variables"

.about-us
	position: relative
	background-position: center
	background-size: contain
	padding-bottom: 12em

	& img:not(#line, .tall)
		object-fit: cover
		max-height: 25rem

.row
	position: relative
	display: flex
	flex-direction: column
	align-items: center

	&.justify-end
		justify-content: flex-end !important

#line
	position: absolute
	width: 105%
	max-width: unset
	transform: translateY(4rem)
	display: none
	z-index: -1
	// object-fit: initial !important
	height: 96%

.image-text
	font-size: 1.4rem
	width: 70%
	margin: 3em auto
	&::before
		bottom: -1em
		left: -.5em
	&::after
		top: -.5em
		right: -.5em

	&::before,
	&::after
		font-size: 4rem
		position: absolute
		color: #DBCF9B
		content: '"'

	&.ms
		margin: 3em

.tall
	object-fit: cover
	max-height: 34.375rem !important

.animate
	opacity: 0

.animate-l
	transform: translateX(-300px)

.animate-r
	transform: translateX(300px)

@media ( min-width: 758px )
	.about-us
		& .row
			justify-content: space-between

@media (min-width: 1024px)
	#line
		display: block

	.img-lg
		height: 34rem

	.about-us img
		max-height: unset

@media (min-width: 1110px)
	#line
		transform: translateY(3rem)
		height: 93%
@media (min-width: 1900px)
	#line
		transform: translateY(0)
		object-fit: contain
		width: 113%
		height: 97%

	img:not(#line, .tall)
		//max-height: 29rem //tony tohle uprav aby to pusobilo jen na about us
							//jebe mi to floor plan images
